$base-font-family: 'Poppins', Helvetica, Arial, sans-serif;
$base-font-size: 14px;
$base-font-weight: 300;
$normal-font-weight: 400;
$semi-bold-font-weight: 500;
$bold-font-weight: 600;

$base-border-radius: 4px;

$color-white: #ffffff;
$color-black: #000000;
$color-blue: #073F6A;
$color-light-blue: #154E79;
$color-red: #E46A6A;
$color-grey: #F2F2F2;
$color-grey-second: #BDBDBD;
$color-dark-grey: #999999;
$color-grey-text: rgba(0, 0, 0, 0.4);
$color-grey-bg: rgba(0, 0, 0, 0.05);
$color-border: rgba(0, 0, 0, 0.1);
$color-error: #EB4B4B;
